@page "/"
@layout ApplicationFormLayout
@using Models
@using Services
@using bank_app_frontend.Components.Layout
@inject ApplicantService applicantService;
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="container">
    <div class="text">
        Application Form
    </div>
    <form @onsubmit="SubmitForm">
        <div class="form-row">
            <div class="input-data">
                <input type="text" required @bind="applicant.ApplicateName">
                <div class="underline"></div>
                <label for="">Name</label>
            </div>
            <div class="input-data">
                <input type="text" required @bind="applicant.Address">
                <div class="underline"></div>
                <label for="">Address</label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
                <input type="text" required @bind="applicant.CNIC">
                <div class="underline"></div>
                <label for="">CNIC</label>
            </div>
            <div class="input-data">
                <input type="text" required @bind="DOB">
                <div class="underline"></div>
                <label for="">Date Of Birth</label>
            </div>
            <div class="input-data">
                <input type="text" required @bind="applicant.TellerId">
                <div class="underline"></div>
                <label for="">TellerId</label>
            </div>
            <div class="input-data">
                <input type="text" required @bind="applicant.AccountType">
                <div class="underline"></div>
                <label for="">Account Type</label>
            </div>
            <div class="input-data">
                <input type="text" required @bind="applicant.AccountStatus">
                <div class="underline"></div>
                <label for="">Account Status</label>
            </div>
            <div class="input-data">
                <input type="email" required @bind="applicant.EmailAddress">
                <div class="underline"></div>
                <label for="">Email address</label>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data textarea">
                <div class="form-row submit-btn">
                    <div class="input-data">
                        <div class="inner"></div>
                        <input type="submit" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@code
{
    Applicant applicant = new Applicant();
    String DOB;

    private void SubmitForm()
    {
        UpdateApplicantList(applicant.ApplicateName, applicant.Address, applicant.CNIC, DOB, applicant.EmailAddress, applicant.TellerId, applicant.AccountType, applicant.AccountStatus);
        NavigationManager.NavigateTo("Login"); // Change "/submitted" to the desired route

    }

    public async Task UpdateApplicantList(string ApplicateName, string Address, string CNIC, String DOB, string Email, long? TellerId, AccountType AccountType, AccountStatus AccountStatus)
    {
        await applicantService.UpdateApplicantList(ApplicateName, Address, CNIC, DOB, Email, TellerId, AccountType, AccountStatus);

    }
}
