@page "/approval"
@using Models
@using Services
@inject HttpClientService _httpClientService

<h3 class="text-center">Account Opening Requests</h3>
@if (applicantsList == null)
{
    <h4>Loading...</h4>
}
else
{
    
<div class="p-4 m-4">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-1">Id</th>
                <th class="col-2">Name</th>
                <th class="col-2">CNIC</th>
                <th class="col-2">Account Type</th>
                <th class="col-2">Operation</th>
            </tr>
        </thead>
           
            <tbody>
            @foreach (var applicant in applicantsList)
            {
                <tr>
                    <td>@applicant.Id</td>
                    <td>@applicant.ApplicateName</td>
                    <td>@applicant.CNIC</td>
                    <td>@applicant.AccountType</td>
                    <td class="text-center">
                    <button type="button" @onclick="()=>UpdateApplicantStatus(applicant.Id,applicant.AccountStatus,applicant.TellerId)" class="btn btn-success">Approve</button>
                    <button type="button" @onclick="()=>UpdateApplicantStatus(applicant.Id,applicant.AccountStatus,applicant.TellerId)" class="btn btn-danger">Reject</button>
                    </td>
                </tr>
            }
        </tbody>
        
    </table>
</div>
}


@code {
    IEnumerable<Applicant> applicantsList = null;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        applicantsList = await _httpClientService.GetApplicants();
        applicantsList = applicantsList.Where(app => app.AccountStatus != AccountStatus.APPROVED).Select(app => app);
    }

    public void testfunction()
    {
        Console.WriteLine("jkdjfdsjkfjkdkjfjksdf");
        
    }
    public async Task UpdateApplicantStatus(long applicantId,AccountStatus accountStatus,long tellerId)
    {
        await this._httpClientService.UpdateApplicantStatus(applicantId, accountStatus, tellerId);
    }

}
