@page "/approval"
@using Models
@using Services
@inject TellerService tellerService;
@inject ApplicantService applicantService;
@rendermode InteractiveServer
<h3 class="text-center">Account Opening Requests</h3>
@if (applicantsList == null)
{
    <h4>Loading...</h4>
}
else if(applicantsList.Count() == 0)
{
    <h6 class="text-center">No pending applicant available</h6>
}
else
{
    
<div class="p-4 m-4">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-1">Id</th>
                <th class="col-2">Name</th>
                <th class="col-2">CNIC</th>
                <th class="col-2">Account Type</th>
                <th class="col-2">Operation</th>
            </tr>
        </thead>
           
            <tbody>
            @foreach (var applicant in applicantsList)
            {
                <tr>
                    <td>@applicant.Id</td>
                    <td>@applicant.ApplicateName</td>
                    <td>@applicant.CNIC</td>
                    <td>@applicant.AccountType</td>
                    <td class="text-center">
                    <button type="button" @onclick="()=>UpdateApplicantStatus(applicant.Id,AccountStatus.APPROVED,1)" class="btn btn-success">Approve</button>
                    <button type="button" @onclick="()=>UpdateApplicantStatus(applicant.Id,AccountStatus.DENIED,1)" class="btn btn-danger">Reject</button>
                    </td>
                </tr>
            }
        </tbody>
        
    </table>
</div>
}


@code {
    IEnumerable<Applicant> applicantsList = null;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await getPendingApplicantsList();
    }

    private async Task getPendingApplicantsList()
    {
        applicantsList = await applicantService.GetApplicantsList();
        applicantsList = applicantsList.Where(app => app.AccountStatus.Equals(AccountStatus.PENDING)).Select(app => app);
        Console.WriteLine(applicantsList);
    }

    public async Task UpdateApplicantStatus(long applicantId,AccountStatus accountStatus,long tellerId)
    {
        await tellerService.UpdateApplicantStatusAsync(applicantId, accountStatus, tellerId);
        await getPendingApplicantsList();
    }

}
