@page "/customer/register"


<div class="container">
    <h3 class="text-center">Customer Registeration Form</h3>
    <div class="mt-5 d-flex justify-content-center">
        <div class="m-4 shadow p-5 mb-5 bg-white rounded">
            <form>
                <div class="form-group row m-0 mt-1">
                    <label for="customerName" class="col-sm-5 col-form-label">Name:</label>
                    <div class="col-sm-7">
                        <label class="col-form-label">ABDEFGGH</label>
                    </div>
                </div>

                <div class="form-group row m-0 mt-1">
                    <label for="customerCNIC" class="col-sm-5 col-form-label">CNIC:</label>
                    <div class="col-sm-7">
                        <label class="col-form-label">ABDEFGGH42342342</label>
                    </div>
                </div>

                <div class="form-group row m-0 mt-1">
                    <label for="customerAddress" class="col-sm-5 col-form-label"> Address:</label>
                    <div class="col-sm-7">
                        <label class="col-form-label">ABDEFGGHffsf FSD</label>
                    </div>
                </div>

                <div class="form-group row m-0 mt-1">
                    <label for="userName" class="col-sm-5 col-form-label">User Name:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control"  placeholder="temp User">
                    </div>
                </div>

                <div class="form-group row m-0 mt-1">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Password:</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>

                <div class="form-group row m-0 mt-1">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Confirm Password:</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password">
                    </div>
                </div>

                <div class="form-group row m-0 mt-2">
                    <div class="col-sm-4"></div> <!-- Offset for the submit button -->
                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


@code {

}
